body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #607274;
}

header, footer{
    text-align: center;
    background-color: #DED0B6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
}

header{
    margin-top: 50px;
}

.photo{
    padding: 30px;
    padding-bottom: 70px;
    background-color: #FAEED1;
    border-radius: 5px;
}

.description{
    padding-left: 30px;
}
table{
    margin-left: 25%;
    margin-right: 25%;
}

img{
    width: 320px;
}